Data Preprocessing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("hotel_bookings.csv")

In [3]:
data.head()

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03

[5 rows x 32 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

### Encoding

In [5]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

In [6]:
data['hotel'].value_counts()

City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

### LABEL ENCODER

In [7]:
le = LabelEncoder()
data['hotel'] = le.fit_transform(data['hotel'])

In [8]:
data['hotel'].value_counts()

0    79330
1    40060
Name: hotel, dtype: int64

In [9]:
le.classes_

array(['City Hotel', 'Resort Hotel'], dtype=object)

### ONE HOT ENCODER

In [10]:
data['customer_type'].value_counts()

Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64

In [11]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['customer_type'].values.reshape(-1,1)).toarray()

In [12]:
one_hot.categories_

[array(['Contract', 'Group', 'Transient', 'Transient-Party'], dtype=object)]

In [13]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['Contract', 'Group', 'Transient', 'Transient-Party'])

In [14]:
transformed_data.head()

   Contract  Group  Transient  Transient-Party
0       0.0    0.0        1.0              0.0
1       0.0    0.0        1.0              0.0
2       0.0    0.0        1.0              0.0
3       0.0    0.0        1.0              0.0
4       0.0    0.0        1.0              0.0

In [15]:
transformed_data.iloc[90 , ]

Contract           0.0
Group              0.0
Transient          1.0
Transient-Party    0.0
Name: 90, dtype: float64

In [16]:
data['customer_type'][90]

'Transient'

### Normalization & Standardization

In [28]:
# consider only numerical columns

numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]

In [29]:
len(numeric_columns) , len(data.columns)

(21, 32)

In [30]:
numeric_columns.remove('company')
numeric_columns.remove('agent')

In [31]:
temp_data = data[numeric_columns]

In [32]:
temp_data

        hotel  ...  total_of_special_requests
0           1  ...                          0
1           1  ...                          0
2           1  ...                          0
3           1  ...                          0
4           1  ...                          1
...       ...  ...                        ...
119385      0  ...                          0
119386      0  ...                          2
119387      0  ...                          4
119388      0  ...                          0
119389      0  ...                          2

[119390 rows x 19 columns]

In [33]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler

### Normalization

In [34]:
import warnings
warnings.filterwarnings('ignore')

In [35]:
normalizer = MinMaxScaler()

In [36]:
temp_data.dropna(axis = 1 , inplace = True)

In [37]:
normalized_data = normalizer.fit_transform(temp_data)

In [38]:
pd.DataFrame(normalized_data , columns = temp_data.columns)

        hotel  ...  total_of_special_requests
0         1.0  ...                        0.0
1         1.0  ...                        0.0
2         1.0  ...                        0.0
3         1.0  ...                        0.0
4         1.0  ...                        0.2
...       ...  ...                        ...
119385    0.0  ...                        0.0
119386    0.0  ...                        0.4
119387    0.0  ...                        0.8
119388    0.0  ...                        0.0
119389    0.0  ...                        0.4

[119390 rows x 18 columns]

### Standardization

In [39]:
standard_scaler = StandardScaler()

In [40]:
standardized_data = standard_scaler.fit_transform(temp_data)

In [41]:
pd.DataFrame(standardized_data , columns = temp_data.columns)

           hotel  ...  total_of_special_requests
0       1.407224  ...                  -0.720694
1       1.407224  ...                  -0.720694
2       1.407224  ...                  -0.720694
3       1.407224  ...                  -0.720694
4       1.407224  ...                   0.540666
...          ...  ...                        ...
119385 -0.710619  ...                  -0.720694
119386 -0.710619  ...                   1.802026
119387 -0.710619  ...                   4.324746
119388 -0.710619  ...                  -0.720694
119389 -0.710619  ...                   1.802026

[119390 rows x 18 columns]

### Handling With Missing Values

In [42]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [43]:
# here I Will show you imputing values in Null columns only for 'agent' column

In [44]:
data['agent'].isnull().sum()

16340

### Simple Imputer

In [45]:
from sklearn.impute import SimpleImputer

In [46]:
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')

In [47]:
agent_col = imputer.fit_transform(data['agent'].values.reshape(-1,1))

In [48]:
pd.DataFrame(agent_col).isnull().sum()

0    0
dtype: int64

In [49]:
data['agent'].isnull().sum()

16340

### Discretization

In [50]:
from sklearn.preprocessing import KBinsDiscretizer

In [51]:
temp_data.head()

   hotel  is_canceled  ...  required_car_parking_spaces  total_of_special_requests
0      1            0  ...                            0                          0
1      1            0  ...                            0                          0
2      1            0  ...                            0                          0
3      1            0  ...                            0                          0
4      1            0  ...                            0                          1

[5 rows x 18 columns]

### Quantile Discretization Transform

In [52]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)

In [53]:
pd.DataFrame(new_data,columns = temp_data.columns )

        hotel  ...  total_of_special_requests
0         0.0  ...                        0.0
1         0.0  ...                        0.0
2         0.0  ...                        0.0
3         0.0  ...                        0.0
4         0.0  ...                        1.0
...       ...  ...                        ...
119385    0.0  ...                        0.0
119386    0.0  ...                        2.0
119387    0.0  ...                        2.0
119388    0.0  ...                        0.0
119389    0.0  ...                        2.0

[119390 rows x 18 columns]

### Uniform Discretization Transform

In [54]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

        hotel  ...  total_of_special_requests
0         9.0  ...                        0.0
1         9.0  ...                        0.0
2         9.0  ...                        0.0
3         9.0  ...                        0.0
4         9.0  ...                        2.0
...       ...  ...                        ...
119385    0.0  ...                        0.0
119386    0.0  ...                        4.0
119387    0.0  ...                        8.0
119388    0.0  ...                        0.0
119389    0.0  ...                        4.0

[119390 rows x 18 columns]

### KMeans Discretization Transform

In [55]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

        hotel  ...  total_of_special_requests
0         1.0  ...                        0.0
1         1.0  ...                        0.0
2         1.0  ...                        0.0
3         1.0  ...                        0.0
4         1.0  ...                        1.0
...       ...  ...                        ...
119385    0.0  ...                        0.0
119386    0.0  ...                        3.0
119387    0.0  ...                        6.0
119388    0.0  ...                        0.0
119389    0.0  ...                        3.0

[119390 rows x 18 columns]